.nav-link {
    color: black;
    font-size:10px;

}
.form-control{
    color: black;
    font-size:10px;
}

.carousel-inner{
    height:500px;
    width:60%;
    margin:auto;
}

address.contact{
    font-size:10px;
    margin-left:2em;
}

address.navigation{
    font-size:10px;
    margin-left:2em;
    color:black;
}

.table-dark{
    background-color:white;
    color:black;
}

.font-control{
    border: 2px solid black;
}

hr{
 border: 1px dashed #000;
        width: 90%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
}