.nav-link {
    color: black;
    font-size:10px;

}
.form-control{
    color: black;
    font-size:10px;
}

.carousel-inner{
    height:700px;
    width:60%;
    margin:auto;
}

address.contact{
    font-size:10px;
    margin-left:2em;
}

address.navigation{
    font-size:10px;
    margin-left:2em;
    color:black;
}