.nav-link {
    color: black;
    font-size:10px;
    backgroud-color: #e3f2fd;
}
.form-control{
    color: black;
    font-size:10px;
}

.carousel-inner{
    height:700px;
    width:60%;
    margin:auto;
}